body {

display: flex;
justify-content: center;
align-items: center;
height: 100vh;
margin: 0;
font-family: Inter, sans-serif;

}

#prtDiv {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #1F2937;
width: 550px;
padding-bottom: 26px;


}



#topChild {

display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #6943FF;
width: 550px;
height: 285px;
margin-bottom: 26px;
padding-bottom: 13px;

}


h1 {

color: yellow;
font-size: 28px;
margin-bottom: 30px;
font-weight: 800;

}


#input {

width: 117px;
height: 83px;
outline: none;
border: 2px solid rgb(179, 180, 175);
border-radius: 5px;
background-color: #6943FF;
color: white;
font-size: 58px;
font-weight: 800;
text-align: center ;

}


button {

width: 117px;
height: 42px;
border: none;
border-radius: 5px;
color: black;
font-size: 16px;
font-weight: 500;
line-height: 24px;
background-color: white;
margin-top: 25px;
cursor: pointer;

}


.triplets {

width: 500px;
height: 108.57px;
background-color: #273549;
margin: 14px 8px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 0px;

}


h2 {

color: #b3a9d1;
font-size: 20px;
font-weight: 600;
margin-bottom: 0px;

}


.displayDiv {

display: flex;
color: white;
align-items: center;

}


.divider {

border: 1px solid;
height: 18px;
margin: 0px 6.5px;


}
